@using System.Security.Claims
@using Chat.Core.Entities
@model List<ChatMessage>
@{
    ViewData["Title"] = "Chat Room";
    var claimsIdentity = User.Identity as ClaimsIdentity;
    string userID = "", userName = "";
    if (claimsIdentity != null)
    {
        var userIdClaim = claimsIdentity.Claims.FirstOrDefault(f => f.Type == ClaimTypes.NameIdentifier);
        if (userIdClaim != null)
            userID = userIdClaim.Value;

        var userNameClaim = claimsIdentity.Claims.FirstOrDefault(f => f.Type == ClaimTypes.Name);
        if (userNameClaim != null)
            userName = userNameClaim.Value;
    }
}

<head>
    <link rel="stylesheet" href="~/css/chat.css" />
</head>
<script type="text/javascript">
    var loggedUserId = '@userID';
    var loggedUserName = '@userName';
</script>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList">
            @foreach (var message in Model)
            {
                string cssClass = "him";
                if (message.UserID == userID)
                {
                    cssClass = "me";
                }
                <li class=@cssClass>@message.Text - @message.SentAt.ToShortDateString()</li>
            }
        </ul>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>